:root {
  --white: #FFF;
  --blue: rgb(93, 93, 255);
  --gray: #f4f4f4;
  --red: #F66;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-family: 'Roboto Slab', serif;
  font-family: 'Lato', sans-serif;
  background-color: var(--gray);
  touch-action: manipulation;
}

span {
  color: var(--red);
}

button {
  display: block;
  padding: 7px 12px;
  border: none;
  border-radius: 7px;
  font-size: 20px;
  color: var(--white);
  background-color: var(--red);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100svh;
}

#header {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 1em;
  font-size: 50px;
}

#ball {
  display: flex;
  justify-content: center;
}

#outer {
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border-radius: 150px;
  background-color: black;
  background: linear-gradient(130deg, rgb(0, 0, 0), rgb(51, 46, 46), rgb(59, 64, 59));
  overflow: hidden;
}

#inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 75px;
  height: 150px;
  width: 150px;
  font-size: 100px;
  font-weight: 900;
}

#main-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

#bottom-note{
  margin-top: 3rem;
  margin-bottom: 0;
  font-size: 1.5rem;
}

.begin-rotate {
  animation: rotate-to-bottom 1s 1;
  animation-timing-function: linear;
  position: relative;
}

@keyframes rotate-to-bottom {
  from {right: 0;}
  to {right: 2em;}
  from {top: 0;}
  to {top: 2em;}
}

.end-rotate {
  animation: rotate-to-center 1s 1;
  animation-timing-function: linear;
  position: relative
}

@keyframes rotate-to-center {
  from {left: 2em;}
  to {left: 0;}
  from {bottom: 2em;}
  to {bottom: 0;}
}

.fade {
  animation: fade 4s;
}

@keyframes fade {
  0% {opacity: 1;}
  25% {opacity: 0;}
  50% {opacity: .2;}
  75% {opacity: .5;}
  100% {opacity: 1;}
}

.shake-ball {
  animation: 1s 1 shake;
  position: relative;
}

@keyframes shake {
  0% {left: 0px;}
  5% {left: 25px;}
  10% {left: -25px;}
  15% {left: 15px;}
  20% {left: -15px;}
  25% {left: 10px;}
  30% {left: -10px;}
  35% {left: 5px;}
  40% {left: -5px;}
  45% {left: 5px;}
  50% {left: -5px;}
  55% {left: 5px;}
  60% {left: -5px;}
  65% {left: 5px;}
  70% {left: -5px;}
  75% {left: 5px;}
  80% {left: -4px;}
  85% {left: 3px;}
  90% {left: -2px;}
  95% {left: 1px;}
  100% {left: 0ch;}
}
  
.blinker {
  animation: blinker 2s linear infinite;
  box-shadow:
    0 0 1em .5em #FFF,
    0 0 1.5em 1em #F0F,
    0 0 2em 1.5em #0ff;
}
  
@keyframes blinker {
  25% {
    opacity: 0;
  }
}

.solid {
  background-color: var(--white);
}

.liquid {
  background-color: var(--blue);
}

.response {
  font-size: 12px;
}

@media only screen and (hover:none) and (pointer:coarse) {
  #bottom-note {
    display: none;
  }
}